assignments\cml_exam3_2025\e3_2025_stu_work
assignments\cml_exam3_2025\__pycache__

assignments/cml_exam3_2025/__pycache__/bad_addpriv.cpython-313.pyc
assignments/cml_exam3_2025/repr_output.txt
assignments/cml_exam3_2025/e3_2025_stu_work/turnermatthew_1145_275727_member.py
assignments/cml_exam3_2025/e3_2025_stu_work/quarantine/lamodifaith_902_275684_member.py
assignments/cml_exam3_2025/e3_2025_stu_work/originals_for_ones_I_changed/turnermatthew_1145_275727_member.py
assignments/cml_exam3_2025/e3_2025_stu_work/originals_for_ones_I_changed/kvadusolivia_1138_275807_member.py
assignments/cml_exam3_2025/e3_2025_stu_work/originals_for_ones_I_changed/howryalyssa_747_275703_member.py
assignments/cml_exam3_2025/e3_2025_stu_work/originals_for_ones_I_changed/herndonjay_LATE_849_275830_member.py
assignments/cml_exam3_2025/e3_2025_stu_work/originals_for_ones_I_changed/funezguzmansamuel_LATE_1204_275829_member.py
assignments/cml_exam3_2025/e3_2025_stu_work/originals_for_ones_I_changed/alazawihassan_864_275713_member.py
assignments/cml_exam3_2025/e3_2025_stu_work/my_notes/misc, scratch.txt
assignments/cml_exam3_2025/e3_2025_stu_work/my_notes/groupings.txt
assignments/cml_exam3_2025/e3_2025_stu_work/mcgowenzachary_875_275797_member.py
assignments/cml_exam3_2025/e3_2025_stu_work/kvadusolivia_1138_275807_member.py
assignments/cml_exam3_2025/e3_2025_stu_work/howryalyssa_747_275703_member.py
assignments/cml_exam3_2025/e3_2025_stu_work/HOffman_Member.py
assignments/cml_exam3_2025/e3_2025_stu_work/herndonjay_LATE_849_275830_member.py
assignments/cml_exam3_2025/e3_2025_stu_work/garciaarianna_1060_275668_member.py
assignments/cml_exam3_2025/e3_2025_stu_work/funezguzmansamuel_LATE_1204_275829_member.py
assignments/cml_exam3_2025/e3_2025_stu_work/fugogstasia_1200_275701_member.py
assignments/cml_exam3_2025/e3_2025_stu_work/elmendorfdevon_1274_275823_member.py
assignments/cml_exam3_2025/e3_2025_stu_work/dunnshaley_2519_275667_member.py
assignments/cml_exam3_2025/e3_2025_stu_work/dabbondanzaaiden_LATE_1357_275828_Exam_3.py
assignments/cml_exam3_2025/e3_2025_stu_work/changagatha_1224_275787_member.py
assignments/cml_exam3_2025/e3_2025_stu_work/brownsertonius_1003_275666_member.py
assignments/cml_exam3_2025/e3_2025_stu_work/bartelsreginald_LATE_890_275835_member.py
assignments/cml_exam3_2025/e3_2025_stu_work/alazawihassan_864_275713_member.py
assignments/cml_exam3_2025/__pycache__/lt_is_broke.cpython-313.pyc
assignments/cml_exam3_2025/__pycache__/bad_var.cpython-313.pyc
assignments/cml_exam3_2025/__pycache__/bad_init.cpython-313.pyc
assignments/cml_exam3_2025/__pycache__/bad_addpriv.cpython-313.pyc
assignments/cml_exam3_2025/__pycache__/bad_addpriv.cpython-313.pyc
assignments/cml_exam3_2025/__pycache__/bad_init.cpython-313.pyc
assignments/cml_exam3_2025/__pycache__/bad_var.cpython-313.pyc
assignments/cml_exam3_2025/__pycache__/lt_is_broke.cpython-313.pyc
assignments/cml_exam3_2025/repr_output.txt
assignments/cml_exam3_2025/repr_output.txt
